@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Trying a quick tutorial to get a feel of Owin.</p>
    <p>https://dotnetcodr.com/2015/11/30/wiring-up-a-custom-authentication-method-with-owin-in-web-api-part-5-abstracting-away-the-auth-logic/</p>
</div>
